@import '../../styles/variables.css';

/* Container and Title */
.shops-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, var(--navbar-bg-color), var(--primary-bg-color));
}

.shops-title {
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
  color: var(--primary-bg-color);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* Grid System */
.shops-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjusted for better responsiveness */
  gap: 20px;
  padding: 20px;
}

/* Shop Card */
.shop-card {
  max-width: 455px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.shop-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

/* Image Handling */
.shop-image-container {
  height: 220px;
  overflow: hidden;
}

.shop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-image-placeholder {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  font-size: 1.2rem;
  color: #fff;
}

/* Shop Content */
.shop-card-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shop-name {
  font-family: var(--font-family-secondary);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.shop-description {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  flex-grow: 1;
}

.shop-location,
.shop-contact,
.shop-contact-phone {
  font-family: var(--font-family-secondary);
  font-size: 0.9rem;
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

/* Social Media Icons */
.shop-social-media {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.shop-social-media a {
  font-size: 1.4rem;
  color: var(--primary-text-color);
  transition: color 0.3s ease;
}

.shop-social-media a:hover {
  color: var(--home-button-bg-color);
}

/* Explore Button */
.shop-explore-button {
  background-color: var(--home-button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 12px 25px;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensures button stays within the container */
  box-sizing: border-box; /* Prevents button overflow by including padding in the width */
}

.shop-explore-button svg {
  margin-right: 10px;
}

.shop-explore-button:hover {
  background-color: var(--home-button-hover-bg-button);
}

.shop-buttons {
  margin-top: auto;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive adjustments for smaller devices */
@media (max-width: 768px) {
  .shops-title {
    font-size: 2rem;
  }

  .shops-grid {
    gap: 15px;
  }

  .shop-card-content {
    padding: 10px;
    align-items: flex-start;
  }

  .shop-buttons {
    padding: 10px;
  }

  .shop-explore-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 540px) {
  .shops-grid {
    grid-template-columns: 1fr;
  }

  .shop-card-content {
    padding: 10px;
    align-items: flex-start;
  }

  .shop-name {
    font-size: 1.4rem;
  }

  .shop-description {
    font-size: 0.9rem;
  }

  .shop-explore-button {
    font-size: 0.85rem;
    padding: 8px 16px;
  }

  .shop-buttons {
    padding: 10px;
  }
}
