@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.timeout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #c5b1b1 25%, #c5b1b1 100%); */
  font-family: 'Montserrat', sans-serif;
}

.timeout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* padding: 40px; */
  border-radius: 15px;
  background-color: #ebb47c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  /* max-width: 500px; */
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.timeout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.timeout-header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #343a40;
}

.timeout-header p {
  margin: 0;
  font-size: 1.2rem;
  color: #6c757d;
}

.timeout-body p {
  font-size: 1rem;
  color: #495057;
  margin: 0;
}

.timeout-button {
  padding: 12px 30px;
  background-color: #333;
  color: #ebb47c;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.timeout-button:hover {
  background-color: #666;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
