@import '../../styles/variables.css';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 20px;
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

.login-page h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--secondary-bg-color);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

.login-page label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.login-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--input-bg-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  font-size: medium;
}

.login-page button {
  width: 100%;
  padding: 12px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-family-secondary);
}

.login-page button:hover {
  background-color: var(--button-hover-bg-color);
}

.login-page .error {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

.trust-badges {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.trust-badges i {
  margin-right: 10px;
  color: var(--primary-bg-color);
}

.testimonials {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  color: var(--secondary-text-color);
}

.testimonials i {
  color: var(--primary-bg-color);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.login-contact-info {
  display: flex;
  gap: 10px;
}

.contact-info i {
  margin-right: 5px;
  color: var(--primary-bg-color);
}

.contact-info a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: var(--max-width);
  padding: 10px 0;
  border-top: 1px solid var(--primary-text-color);
}

.login-footer .btn-link {
  background: none;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

.login-footer .forgot-password,
.login-footer .new-user {
  font-weight: bold;
  color: var(--primary-text-color);
}

.login-footer .forgot-password:hover,
.login-footer .new-user:hover {
  color: var(--primary-text-color);
}

.google-signin-container {
  text-align: center;
  margin: 20px 0;
}

.biometric-login-btn {
  width: 25% !important;
  padding: 12px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-family-secondary);
  margin-top: 20px;
}

.biometric-login-btn i {
  margin-right: 8px;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .login-page h2 {
    font-size: 2rem;
  }

  .login-page form {
    padding: 20px;
  }

  .login-footer {
    flex-direction: column;
    gap: 10px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .login-page h2 {
    font-size: 1.8rem;
  }

  .login-page form {
    padding: 15px;
  }

  .login-page button {
    font-size: 1rem;
    padding: 10px;
  }

  .login-footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
