/* src/components/Modal.css */
@import '../../styles/variables.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css';

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background: var(--primary-bg-color) !important;
  border-radius: var(--border-radius);
  max-width: 800px;
  width: 90%;
  padding: 20px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.custom-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: var(--button-bg-color) !important;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.custom-close-button:hover {
  color: var(--button-hover-bg-color) !important;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.custom-modal-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform 0.2s ease-in-out;
}

.custom-modal-thumbnail:hover {
  transform: scale(1.1);
}

.custom-modal-details {
  text-align: center;
  color: var(--secondary-text-color) !important;
}

.custom-modal-details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.custom-modal-details p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.custom-modal-price {
  font-size: 1.8rem !important;
  color: var(--secondary-text-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.custom-add-to-cart-button {
  margin-top: 15px;
  padding: 12px 30px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.custom-add-to-cart-button:hover {
  background: var(--button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.custom-wishlist-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--button-bg-color);
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.custom-wishlist-button:hover {
  color: var(--button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.custom-wishlist-button .fa-heart {
  font-size: 1.5rem;
}

.custom-wishlist-button .far {
  color: var(--button-bg-color);
}

.custom-wishlist-button .fas {
  color: red;
}

/* Lightbox CSS */
.custom-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.custom-lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-lightbox-close-button {
  position: fixed;
  top: 30px;
  right: 100px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.custom-lightbox-image {
  width: 200%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: var(--border-radius);
  object-fit: contain;
}

.modal-button-div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* Responsive Design for Tablets and Mobile Devices */
@media (max-width: 768px) {
  .custom-modal-content {
    padding: 15px;
    max-width: 80%;
  }

  .custom-modal-details h2 {
    font-size: 1.5rem;
  }

  .custom-modal-price {
    font-size: 1.5rem !important;
  }

  .custom-add-to-cart-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .custom-lightbox-close-button {
    top: 20px;
    right: 50px;
  }

  .custom-lightbox-image {
    max-width: 90vw;
    max-height: 70vh;
  }
}

@media (max-width: 480px) {
  .custom-modal-content {
    padding: 10px;
    max-width: 95%;
  }

  .custom-modal-details h2 {
    font-size: 1.2rem;
  }

  .custom-modal-price {
    font-size: 1.2rem !important;
  }

  .custom-add-to-cart-button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }

  .custom-wishlist-button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }

  .custom-lightbox-close-button {
    top: 15px;
    right: 30px;
  }

  .custom-lightbox-image {
    max-width: 95vw;
    max-height: 65vh;
  }

  .modal-button-div {
    flex-direction: column;
    gap: 5px;
  }
}
