/* src/components/Modal.css */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background: #ebb47c !important;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  padding: 20px;
  position: relative;
}

.custom-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: #8b4513 !important;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.custom-modal-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.custom-modal-thumbnail:hover {
  transform: scale(1.1);
}

.custom-modal-details {
  text-align: center;
  color: #8b4513 !important;
}

.custom-modal-details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.custom-modal-details p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.custom-modal-price {
  font-size: 1.8rem !important;
  color: #8b4513;
  font-weight: 500;
  margin-bottom: 20px;
}

.custom-add-to-cart-button {
  margin-top: 15px;
  padding: 12px 30px;
  background-color: #8b4513;
  color: #ebb47c;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.custom-add-to-cart-button:hover {
  background: #b7520b;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Lightbox CSS */
.custom-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.custom-lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-lightbox-close-button {
  position: fixed; /* Changed to fixed positioning */
  top: 30px; /* Position at the top of the viewport */
  right: 100px; /* Position at the right of the viewport */
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  /* z-index: 1200; Ensure it appears above other elements */
}

.custom-lightbox-image {
  width: 200%;
  max-width: 80vw; /* Adjusted to take up 80% of the viewport width */
  max-height: 80vh; /* Adjusted to take up 80% of the viewport height */
  border-radius: 10px;
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

  
  /* .modal-details {
    width: 100%;
  } */
  
  /* .modal-price {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
  } */
  
  /* .add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  } */
  
  /* .add-to-cart-button:hover {
    background-color: #218838;
  } */
  