@import '../../styles/variables.css'; /* Import shared variables */

/* Cart Page Container */
.cart-page {
  padding: 20px;
  background-color: var(--primary-bg-color);
  font-family: var(--font-family-primary);
  color: var(--primary-text-color);
}

/* Cart Empty State */
.cart-empty {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  padding: 20px;
  border: 2px dashed #ddd;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 80%;
  margin: 180px auto; /* Center horizontally */
}

.cart-empty h2 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--primary-text-color);
}

.cart-product-price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.cart-product-original-price {
  text-decoration: line-through;
  color: var(--secondary-text-color);
  margin-right: 10px;
}

.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #c0392b;
}

.loading {
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  color: var(--home-button-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-empty p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: var(--primary-text-color);
}

.btn-shop {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color) !important;
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-shop:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

/* Cart Items */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

/* Cart Item */
.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.cart-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-right: 20px;
}

.cart-item-details {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.cart-item-info p {
  margin: 5px 0 0;
  color: var(--secondary-text-color);
}

/* Cart Item Controls */
.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cart-item-controls button:hover {
  background-color: #555;
}

.cart-item-controls .quantity {
  width: 30px;
  text-align: center;
  font-size: 1.1rem;
  color: #333;
}

.remove-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-left: 20px;
  align-self: center;
}

.remove-button:hover {
  background-color: #d32f2f;
}

/* Cart Total */
.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-text-color)
}

/* Buy Button */
.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: var(--border-radius);
}

.buy-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buy-button:hover:not(.disabled) {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Disabled Button */
.cart-item-controls button:disabled,
.cart-item-controls .disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .cart-item-image {
    width: 100px;
    height: 100px;
  }

  .cart-item-info h3 {
    font-size: 1.1rem;
  }

  .cart-product-price {
    font-size: 1rem;
  }

  .cart-total {
    font-size: 1.3rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-image {
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
  }

  .cart-item-info h3 {
    font-size: 1rem;
  }

  .cart-item-controls {
    width: 100%;
    justify-content: flex-end;
    gap: 0;
    /* justify-content: space-between; */
  }

  .cart-total {
    font-size: 1.2rem;
  }
}
