/* src/styles/variables.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* Common Constants */
:root {
  --primary-bg-color: #f4f4f4;  /* Coral */
  --secondary-bg-color: #ffffff;  /* Teal */
  --input-bg-color: #f9f9f9;  /* White or very light gray for inputs */
  --primary-text-color: #333333;  /* Charcoal Gray */
  --secondary-text-color: #333;  /* White for contrast on Teal background */
  --button-text-color: #f9f9f9;
  --button-bg-color: #333;
  --button-hover-bg-color: #666;  /* Soft Golden Yellow */
  --button-secondary-hover-bg-color: #f0f0f0;
  --home-button-bg-color: #e67e22;
  --home-button-hover-bg-button: #D35400;
  
  /* Enhancements */
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;
  --border-radius: 8px;  /* Slightly rounded corners */
  --max-width: 600px;  /* Increase max width for wider content */

  /* Navbar specific constants */
  --navbar-height: 60px;
  --navbar-bg-color: #004B49;  /* Coral */
  --navbar-icon-color: #FFFFFF;  /* White for icons */
  --navbar-icon-hover-color: #FFB03B;  /* Golden Yellow on hover */
  --tooltip-bg-color: #333333;  /* Charcoal Gray */
  --tooltip-text-color: #FFFFFF;  /* White text on dark tooltip */
  --tooltip-font-size: 14px;
  --cart-count-bg-color: #FF6F61;  /* Coral matching primary */
  --font-size-large: 2rem;
  --icon-size: 28px;  /* Larger icons */
  --icon-button-padding: 10px;  /* Slightly increased padding */
  --icon-margin-right: 20px;
  --gap-between-buttons: 20px;
}
