/* Address Manager */
@import '../../styles/variables.css';

.address-manager-container {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.address-manager-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

.address-manager {
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  /* max-width: 800px; */
  margin: 40px auto;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  font-family: var(--font-family-primary);
}

.address-manager h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 2rem;
  color: var(--secondary-text-color);
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.address-form input[type="text"],
.address-form .phone-input-container .form-control {
  padding: 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--button-bg-color);
  background-color: var(--input-bg-color);
}

.address-form .phone-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phone-input-container input {
  background-color: var(--input-bg-color);
}

.address-form .phone-input-container .form-control {
  width: 100%;
  height: 40px;
  padding-left: 50px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--button-bg-color);
  background-color: var(--input-bg-color);
}

.address-form .phone-input-container .flag-dropdown {
  background-color: var(--input-bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-text-color);
}

.address-form .phone-input-container .flag-dropdown:hover {
  background-color: #ccc;
}

.address-form .phone-input-container .country-list {
  background-color: var(--input-bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-text-color);
  box-shadow: var(--box-shadow);
}

.address-form .checkbox-label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--secondary-text-color);
}

.address-form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  appearance: none;
  background-color: var(--input-bg-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.address-form input[type="checkbox"]:hover {
  background-color: #ccc;
  border-color: #b38b6d;
}

.address-form input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid var(--button-bg-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.location-add-address-buttons-div {
  display: flex;
  flex-direction: column;
}

.address-form .location-button,
.address-form .submit-button {
  padding: 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.address-form .location-button svg,
.address-form .submit-button svg {
  margin-right: 5px;
}

.address-form .location-button {
  background-color: #17a2b8;
  color: #fff;
}

.address-form .location-button:hover {
  background-color: #138496;
}

.address-form .submit-button {
  background-color: var(--button-bg-color);
  color: #fff;
}

.address-form .submit-button:hover {
  background-color: var(--button-hover-bg-color);
}

.address-list {
  list-style: none;
  padding: 0;
}

.address-list li {
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--secondary-text-color);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.address-list li.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.address-actions {
  display: flex;
  gap: 10px;
}

.address-actions button {
  display: inline-flex;
  align-items: center; /* Ensure icon and text are aligned */
  justify-content: center;
  padding: 8px 15px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.address-actions button svg {
  margin-right: 5px;
}

.address-actions button:hover {
  background-color: #5a6268;
}

.address-actions button:nth-child(1) {
  background-color: var(--home-button-bg-color);
}

.address-actions button:nth-child(1):hover {
  background-color: var(--home-button-hover-bg-button);
}

.address-actions button:nth-child(2) {
  background-color: #dc3545;
}

.address-actions button:nth-child(2):hover {
  background-color: #c82333;
}

.address-actions button:nth-child(3) {
  background-color: var(--button-bg-color);
}

.address-actions button:nth-child(3):hover {
  background-color: var(--button-hover-bg-color);
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

/* Responsive Design for Tablets and Mobile Devices */
@media (max-width: 768px) {
  .address-manager {
    padding: 15px;
    max-width: 90%;
  }

  .address-manager h2 {
    font-size: 1.75rem;
  }

  .address-form input[type="text"] {
    padding: 8px;
    font-size: 0.9rem;
  }

  .address-form .phone-input-container .form-control {
    padding: 10px 10px 10px 45px;
    font-size: 0.9rem;
  }

  .address-form .location-button,
  .address-form .submit-button {
    font-size: 0.9rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .address-manager {
    padding: 10px;
    max-width: 100%;
  }

  .address-actions {
    flex-direction: column;
  }

  .address-manager h2 {
    font-size: 1.5rem;
  }

  .address-form input[type="text"] {
    padding: 8px;
    font-size: 0.8rem;
  }
  
  .address-form .phone-input-container .form-control {
    padding: 8px 8px 8px 45px;
    font-size: 0.8rem;
  }

  .address-form .location-button,
  .address-form .submit-button {
    font-size: 0.8rem;
    padding: 8px;
  }

  .address-list li {
    padding: 10px;
  }
}
