.od-container {
    background-color: var(--primary-bg-color);
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--font-family-primary);
}

.od-heading {
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.od-order-card {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

.od-order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.od-status-badge {
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.od-status-badge.processing {
    background-color: orange;
}

.od-status-badge.shipped {
    background-color: rgb(30, 30, 170);
}

.od-status-badge.out-for-delivery {
    background-color: teal;
}

.od-status-badge.delivered {
    background-color: green;
}

/* Progress bar container */
.od-progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: relative;
    width: 100%;
    padding: 0 0; /* No additional padding */
}

/* Connecting line */
.od-progress-bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 13%; /* Starts from just inside the first icon */
    right: 13%; /* Ends just inside the last icon */
    height: 4px;
    background-color: var(--input-bg-color);
    z-index: 0;
    transform: translateY(-50%);
    border-radius: 5px;
}

/* Individual progress steps */
.od-progress-step {
    position: relative;
    text-align: center;
    flex: 1;
    z-index: 1;
}

.od-progress-step.active:first-child::before {
    left: 50%;
}

.od-progress-step.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--button-bg-color);
    z-index: -1;
    transform: translateY(-50%);
    /* border-radius: 5px; */
}

/* Step icons */
.od-step-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--input-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    margin: 0 auto 10px;
    z-index: 1;
    position: relative;
    border: 3px solid var(--input-bg-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Active state for the steps */
.od-progress-step.active .od-step-icon {
    background-color: var(--button-bg-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}

/* Text under the progress steps */
.od-progress-step p {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.od-progress-step.active p {
    font-weight: bold;
    color: var(--primary-text-color);
}

/* Product list styling */
.od-items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.od-item {
    background-color: var(--input-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
    width: 100%;
    transition: transform 0.2s ease;
}

.od-item-container {
    display: flex;
    align-items: center;
}

.od-item-image {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    margin-right: 15px;
}

.od-item-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.od-item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.od-item-quantity {
    color: var(--secondary-text-color);
}

/* Related products section */
.od-related-products {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Heading for related products */
.od-related-products h4 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Related products grid layout */
.od-related-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Adjust card size */
    gap: 20px;
}

/* Product card styling */
.od-related-product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Hover effect for product card */
.od-related-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Product image styling */
.od-related-product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

/* Image zoom effect on hover */
.od-related-product-card:hover .od-related-product-image {
    transform: scale(1.05);
}

/* Product name styling */
.od-related-product-name {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    color: #333;
    transition: color 0.3s ease;
}

/* Hover effect for product name */
.od-related-product-card:hover .od-related-product-name {
    color: #007bff;
    /* Changes to blue on hover */
}


.od-link {
    text-decoration: none;
    color: inherit;
}

.od-shipping-address {
    font-size: 1.1rem;
    margin-top: 50px;
}

/* Actions */
.od-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.od-support-link,
.od-back-link {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 12px 20px;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: var(--box-shadow);
}

.od-support-link:hover,
.od-back-link:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px);
}

/* Responsive styles for mobile and tablet */
@media (max-width: 768px) {

    .od-container {
        margin: 0;
    }

    .od-item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .od-order-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .od-item-image {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .od-item-details {
        text-align: center;
    }

    .od-item {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .od-progress-bar {
        flex-direction: column;
        align-items: flex-start;
        margin: 50px 0;
    }

    .od-progress-bar::before {
        content: '';
        position: absolute;
        width: 4px;
        max-height: 100%;
        top: 0;
        left: 20px;
        background-color: var(--input-bg-color);
        z-index: 0;
    }

    .od-progress-step.active:first-child::before {
        left: 100%;
    }

    .od-progress-step.active::before {
        left: 100%;
    }

    .od-progress-step {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .od-step-icon {
        margin-right: 20px;
    }

    .od-progress-step:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 28px;
        /* top: 100%; */
        top: 80%;
        width: 4px;
        height: 100%;
        background-color: var(--input-bg-color);
        z-index: 0;
    }

    .od-progress-step.active:not(:last-child)::after {
        background-color: var(--button-bg-color);
    }

    .od-actions {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .od-support-link,
    .od-back-link {
        width: 90%;
        margin-bottom: 15px;
        padding: 15px 0;
    }

    .od-support-link,
    .od-back-link {
        font-size: 1rem;
    }

    .od-related-products-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        /* Smaller card size on mobile */
    }

    .od-related-product-name {
        font-size: 1rem;
    }

    .od-related-products h4 {
        font-size: 1.4rem;
    }
}