@import '../../styles/variables.css'; /* Import shared variables */

.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 50px 20px 70px 20px;
  height: 100vh;
  background-color: var(--secondary-bg-color);
}

.payment-container {
  background-color: white;
  margin-top: 50px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 40px;
  width: 50%;
  transition: all 0.3s ease;
}

.payment-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: bold;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form h2 {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  text-align: center;
}

.total-amount {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-text-color);
}

.payment-methods {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.payment-method {
  background-color: var(--secondary-bg-color);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.payment-method.selected,
.payment-method:hover {
  background-color: var(--primary-bg-color);
  color: white;
  border-color: var(--primary-bg-color);
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  display: inline-block;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 1rem;
  background-color: var(--input-bg-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group select:focus,
.form-group input:focus {
  border-color: var(--primary-bg-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pay-button {
  padding: 15px;
  background-color: var(--primary-bg-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.pay-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pay-button:hover:not(:disabled) {
  background-color: var(--button-hover-bg-color);
}

.error-message {
  color: #e74c3c;
  font-size: 1rem;
  margin-top: -15px;
  text-align: center;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: var(--border-radius);
  background-color: #fdd;
}

.success-message {
  color: #2ecc71;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #2ecc71;
  border-radius: var(--border-radius);
  background-color: #dff0d8;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .payment-container {
    width: 70%;
    padding: 0;
    margin-top: 0;
  }

  .payment-container h1 {
    font-size: 1.8rem;
  }

  .pay-button {
    font-size: 1.1rem;
    padding: 12px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .payment-container {
    width: 90%;
    padding: 20px 20px 50px 20px;
    margin-top: 0px;
  }

  .payment-page {
    margin-top: 0px;
  }

  .payment-container h1 {
    font-size: 1.5rem;
  }

  .pay-button {
    font-size: 1rem;
    padding: 10px;
  }
}

/* Payment Success Page */

.success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-bg-color);
  padding: 20px;
  text-align: center;
}

.success-page h2 {
  color: var(--secondary-text-color);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.success-page p {
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.success-page .order-details {
  background-color: #ccc;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width);
  width: 100%;
  text-align: left;
}

.success-page .order-details p {
  margin: 10px 0;
  font-size: 1rem;
}

.success-page .btn {
  padding: 12px 24px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-bg-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.success-page .btn:hover {
  background-color: var(--button-hover-bg-color);
}
