@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles/variables.css'; /* Import shared variables */

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 40px;
  background: var(--primary-bg-color);
  font-family: var(--font-family-primary);
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
}

.error-content h1 {
  margin: 0;
  font-size: 2.5em;
  color: var(--secondary-text-color);
}

.error-content p {
  align-items: center;
  margin: 0;
  font-size: 1.2em;
  color: var(--secondary-text-color);
}

.error-button {
  padding: 12px 30px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.error-button:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
  .error-content {
    gap: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
  }

  .error-content h1 {
    font-size: 2rem;
  }

  .error-content p {
    font-size: 1rem;
  }

  .error-button {
    padding: 10px 25px;
    font-size: 0.9rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  .error-content {
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius);
  }

  .error-content h1 {
    font-size: 1.8rem;
  }

  .error-content p {
    font-size: 0.9rem;
  }

  .error-button {
    padding: 8px 20px;
    font-size: 0.8rem;
  }
}
