@import '../../styles/variables.css'; /* Import shared variables */

/* Navbar Styles */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: var(--navbar-bg-color);
  color: var(--primary-text-color);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.navbar-logo-title {
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 80px;
  height: 80px;
  margin-top: 10px; 
}

.navbar h1 {
  margin: 0;
  font-size: var(--font-size-large);
  letter-spacing: 1px;
}

.nav-buttons {
  display: flex;
  gap: var(--gap-between-buttons);
}

.icon-button {
  display: inline-block;
  padding: var(--icon-button-padding);
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button .awesome-icon {
  fill: var(--navbar-icon-color);
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--navbar-icon-color);
}

.icon-button:hover .awesome-icon {
  fill: var(--navbar-icon-hover-color);
  color: var(--navbar-icon-hover-color);
}

.icon-button.register, .icon-button.logout-icon-container {
  margin-right: 25px;
}

/* Tooltip styling */
.tooltip {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  padding: 5px 8px;
  border-radius: 4px;
  font-size: var(--tooltip-font-size);
  white-space: nowrap;
  opacity: 0.9;
  pointer-events: none;
  z-index: 1;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--cart-count-bg-color);
  border-radius: 50%;
  padding: 2px 8px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1;
}

/* Hide the bottom nav by default */
.bottom-nav {
  display: none;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .navbar h1 {
    font-size: 1.5rem;
  }

  .icon-button.register,
  .icon-button.logout-icon-container {
    margin-right: 30px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .navbar {
    padding: 10px 0px;
  }

  .nav-buttons {
    display: none; /* Hide the top navbar buttons on mobile devices */
  }

  .bottom-nav {
    display: flex; /* Show the bottom navbar on mobile */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-bg-color); /* Matching background color */
    padding: 10px 0;
    box-shadow: var(--box-shadow);
    z-index: 1000;
  }

  .bottom-icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding: 5px;
    color: var(--primary-text-color);
  }

  .bottom-icon-button .awesome-icon {
    width: var(--icon-size); /* Consistent icon size */
    height: var(--icon-size);
  }

  .bottom-icon-button span {
    margin-top: 5px;
    color: var(--primary-text-color); /* Text color matching the icon */
    font-size: 0.7rem;
  }

  .icon-button.register, .icon-button.logout-icon-container {
    margin-right: 0px;
  }
}
