@import '../../styles/variables.css';

.search-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 70%;
  max-width: 600px;
  padding: 11px 20px;
  font-size: 1.2rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 25px;
  background-color: var(--input-bg-color);
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.search-input:focus {
  box-shadow: 0 0 10px var(--primary-bg-color);
}

.search-results {
  width: 100%;
  max-width: 600px;
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin-top: 0px; /* Prevent unwanted space */
  position: absolute;
  top: calc(100% + 10px); /* Position results directly below input */
  left: 0;
  z-index: 1000;
  max-height: 400px; /* Add a max-height for scrolling */
  overflow-y: auto; /* Enable scroll for results */
}

.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.search-results h2 {
  font-size: 1.4rem;
  color: var(--primary-text-color);
  margin: 10px 20px;
  font-family: var(--font-family-primary);
}

.search-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-bg-color);
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-results li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.search-result-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.search-result-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.search-result-info p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.search-no-results {
  padding: 20px;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  text-align: center;
}

.loading-spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 5px solid var(--input-bg-color);
  border-top-color: var(--home-button-bg-color);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
