@import '../../styles/variables.css';

.search-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* Center both input and icon */
  position: relative;
  width: 100%;
  max-width: 800px;
}

.search-input {
  width: 70%;
  padding: 11px 40px; /* Adjust left padding to create space for the icon */
  font-size: 1rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 25px;
  background-color: var(--input-bg-color);
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

/* Position the icon within the input field */
.search-icon {
  position: absolute;
  left: calc(11.5%); /* This keeps the icon aligned with the input */
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
}

/* Input focus state */
.search-input:focus {
  box-shadow: 0 0 10px var(--primary-bg-color);
}

.search-results {
  width: 100%;
  max-width: 800px;
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin-top: 0px; /* Prevent unwanted space */
  position: absolute;
  top: calc(100% + 10px); /* Position results directly below input */
  left: 0;
  z-index: 1000;
  max-height: 400px; /* Add a max-height for scrolling */
  overflow-y: auto; /* Enable scroll for results */
}

.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.search-results h2 {
  font-size: 1.4rem;
  color: var(--primary-text-color);
  margin: 10px 20px;
  font-family: var(--font-family-primary);
}

.search-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-bg-color);
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-results li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.search-result-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.search-result-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.search-result-info p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.search-no-results {
  padding: 20px;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  text-align: center;
}

.loading-spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 5px solid var(--input-bg-color);
  border-top-color: var(--home-button-bg-color);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .search-bar {
    width: 85%;
  }
  .search-icon {
    left: calc(8%); /* Adjust icon position for smaller screens */
  }
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
  }

  .search-input {
    padding: 9px 40px; /* Adjust padding for better spacing */
  }

  .search-icon {
    left: calc(5.5%); /* Adjust icon position for smaller screens */
  }
}

