@import '../../styles/variables.css'; /* Import shared variables */

.forgot-password-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  min-width: 40%;
  min-height: 60%;
  box-shadow: var(--box-shadow);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  flex: 1;
  text-align: center;
}

.close-button {
  width: 50px !important;
  font-size: 50px !important;
  position: absolute;
  padding: 0 !important;
  top: 10px;
  right: 15px;
  background: none;
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
}

.close-button:hover {
  transform: translateY(-2px);
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary-text-color) !important;
}

.form-group input {
  background-color: var(--input-bg-color) !important;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}

button[type="submit"] {
  padding: 12px;
  background-color: var(--home-button-bg-color);
  color: var(--primary-bg-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
  background-color: var(--home-button-hover-bg-color);
  transform: translateY(-2px);
}

button[type="submit"]:disabled {
  background-color: #ccc; /* Grey background when disabled */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

button[type="submit"]:disabled:hover {
  background-color: #ccc; /* Ensure the background remains grey on hover */
  transform: none; /* Disable transform effect */
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
  .modal-content {
    padding: 15px 20px;
    min-width: 60%;
    min-height: 50%;
  }

  .modal-header h2 {
    font-size: 1.4rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  .modal-content {
    padding: 30px 15px;
    min-width: 80%;
    min-height: 40%;
  }

  .modal-header h2 {
    font-size: 1.2rem;
  }

  .close-button {
    font-size: 40px !important;
    top: 5px;
    right: 10px;
  }
}
