@import '../../styles/variables.css'; /* Import shared variables */

/* Ensure unique class names for the modal to avoid conflicts */
.forgot-password-modal-unique {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  min-width: 40%;
  min-height: 60%;
  box-shadow: var(--box-shadow);
  position: relative;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-button-unique {
  width: 50px;
  font-size: 50px;
  background: none;
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
}

.close-button-unique:hover {
  transform: translateY(-2px);
}

.modal-header-unique {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  text-align: center;
}

.form-group-unique {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label-unique {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.input-unique {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
}

.error-message-unique {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.success-message-unique {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.submit-button-unique {
  padding: 12px;
  background-color: var(--button-bg-color);
  color: var(--primary-bg-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-button-unique:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-2px);
}

.submit-button-unique:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button-unique:disabled:hover {
  background-color: #ccc;
  transform: none;
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
  .modal-content-unique {
    padding: 15px 20px;
    min-width: 60%;
    min-height: 50%;
  }

  .modal-header-unique {
    font-size: 1.4rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  .modal-content-unique {
    padding: 30px 15px;
    min-width: 80%;
    min-height: 40%;
  }

  .modal-header-unique {
    font-size: 1.2rem;
  }

  .close-button-unique {
    font-size: 40px;
  }
}
