@import '../../styles/variables.css';

/* Main container for the product list */
.products-list {
  font-family: var(--font-family-primary);
  padding: 20px 0 40px 0;
  background: linear-gradient(to bottom, var(--navbar-bg-color), var(--primary-bg-color));
  color: var(--primary-text-color);
}

.products-list h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: var(--primary-bg-color);
}

/* Grid system for products */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Use auto-fill to dynamically fit items, with a min size */
  justify-content: center;
  gap: 25px;
  padding: 5px 30px 30px 30px;
}

/* Product Card Styling */
.product-card {
  width: 100%;
  max-width: 285px; /* Set a maximum width for product cards */
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto; /* Ensure the card is centered */
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.1);
  opacity: 0.9;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-top: 1px solid #ddd;
}

.product-name {
  font-family: var(--font-family-secondary);
  font-size: 1.6rem;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.product-price {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* Aligns text and discount percentage in a row */
  gap: 10px;
  flex-wrap: wrap;
}

/* Original price styling - Red with strikethrough */
.product-original-price {
  text-decoration: line-through;
  color: red; /* Red color for the original price */
  font-size: 0.7rem;
  margin-right: 10px;
}

/* Discounted price styling - Green and bold */
.product-discount-price {
  color: green; /* Green color for the discounted price */
  font-size: .9rem;
  font-weight: bold;
}

/* Discount percentage styling - Modern look in green */
.product-discount-percentage {
  color: green;
  font-size: .9rem; /* Smaller font size for the percentage */
  font-weight: 500;  /* Medium weight to differentiate it */
  margin-left: 10px; /* Adds space between the price and percentage */
  background-color: rgba(0, 255, 0, 0.1); /* Light green background for emphasis */
  padding: 5px 8px;
  border-radius: 5px;
}

.product-savings {
  color: green;
  font-size: .7rem;
  font-weight: 500;
  max-width: 60%;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.1);
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
}

.product-page-add-to-cart-button {
  display: inline-flex;
  align-items: center;
  padding: 7px 20px;
  background-color: var(--button-bg-color); /* Teal background */
  color: white; /* White text */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.product-page-add-to-cart-button:hover {
  background-color: var(--button-hover-bg-color); /* Darker teal on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.product-page-add-to-cart-button svg {
  margin-right: 8px; /* Adds space between the icon and text */
}

.product-page-cart-quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.product-page-cart-quantity-control .plus-minus-product {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.product-page-cart-quantity-control .plus-minus-product:hover {
  background-color: #555;
}

.product-page-cart-quantity-control .plus-minus-product:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-page-cart-quantity-control span {
  width: 30px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.product-page-remove-from-cart {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.product-page-remove-from-cart:hover {
  background-color: darkred;
}

/* Load More Button Styling */
.load-more-button {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
  max-width: 70%;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 20px auto;
  display: block;
}

.load-more-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.load-more-button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 1024px) {
  .products-list h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .products-grid {
    gap: 20px;
    padding: 5px 20px 20px 20px;
  }

  .product-card {
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .product-info {
    padding: 15px;
  }

  .product-name {
    font-size: 1.4rem;
  }

  .product-price {
    font-size: 1rem;
  }
}

/* Phones */
@media (max-width: 480px) {
  .products-list h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for small screens */
    gap: 15px;
    padding: 2px 15px 15px 15px;
  }

  .product-card {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  .product-info {
    padding: 10px;
  }

  .product-name {
    font-size: 1.2rem;
  }

  .product-price {
    font-size: 1rem;
  }
}
