@import './styles//variables.css';

body {
  padding-top: 60px; /* Adjust based on the height of your navbar */
  margin: 0;
  background-color: #f4f4f4; /* Lighter, more neutral background */
  font-family: 'Arial', sans-serif;
  /* background-color: #666; */
}

.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #c0392b;
}

.loading {
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  color: var(--home-button-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
