@import '../../styles/variables.css';

.common-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.common-modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.common-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease;
}

.common-modal-close:hover {
  color: #000;
}

.common-modal-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.common-modal-header h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #333;
}

.common-modal-body {
  padding: 0;
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
}

.common-modal-button {
  background-color: var(--navbar-bg-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family-primary);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.common-modal-button:hover {
  background-color: var(--button-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
